<div class="row">
  <div class="col-sm-11">

    <select [formControl]="fctrlConf">
      <option default :value="null">Select conference</option>
      <option  value="West">West conference</option>
      <option  value="East">East conference</option>
    </select>

    <select [formControl]="fctrlDiv">
      <option default :value="null">Select division</option>
      <option [value]="division.name" *ngFor="let division of divisions | filterConfDiv:fctrlConf.value; trackBy:trackByFn">
        {{division.name}}
      </option>
    </select>

    <select [formControl]="fctrlTeam" >
      <option  default :value="null">Select team</option>
      <option [value]="team.id" *ngFor="let team of teams$ | async | filterConfDiv:fctrlConf.value:fctrlDiv.value; trackBy:trackByFn">
        {{team.full_name}}
      </option>
    </select>
    <button class="primary" [disabled]="!fctrlTeam.value" (click)="trackTeam(fctrlTeam.value)" >Track team</button>
  </div>

</div>
<div class="row">
  <app-team-stats class="col-sm-4" *ngFor="let team of nbaService.getTrackedTeams()" [team]="team">

  </app-team-stats>
</div>
