<div class="row">
  <div class="col-sm-11">
    <select #confSelect (change)="handleConfSelect(confSelect.value)">
      <option default value="null">Select conference</option>
      <option [value]="conference.name" *ngFor="let conference of conferences; trackBy:trackByFn">
        {{conference.name}}
      </option>
    </select>
    <select #divSelect (change)="selectedDivision = divSelect.value">
      <option default value="null">Select division</option>
      <option [value]="division.name" *ngFor="let division of divisions | filterConfDiv:selectedConference; trackBy:trackByFn">
        {{division.name}}
      </option>
    </select>
    <select #teamSelect>
      <option  default value="null">Select team</option>
      <option [value]="team.id" *ngFor="let team of teams$ | async | filterConfDiv:selectedConference:selectedDivision; trackBy:trackByFn">
        {{team.full_name}}
      </option>
    </select>
    <button class="primary" (click)="trackTeam(teamSelect.value)" >Track team</button>
  </div>

</div>
<div class="row">
  <app-team-stats class="col-sm-4" *ngFor="let team of nbaService.getTrackedTeams()" [team]="team">

  </app-team-stats>
</div>
